html { scroll-behavior: smooth; }
body {
  margin:0;
  width:100vw;
  min-height:100vh;
  box-sizing:border-box;
  font:16px 'Quicksand', sans-serif;
  color:#000;
  background:#f0f0f0;
}

h1 { font-size:3rem;font-weight:300;color:#000; }
h2 { font-size:2rem;font-weight:600;color:#000; }
h3 { font-size:1.6rem;font-weight:700;color:#000; }
h4 { font-size:1.2rem;font-weight:700;color:#000; }

a { font-weight:700;color:#000;text-decoration:none;border-bottom:2px dotted #000;transition:all .2s ease-in; }
header a { color:#fff;text-decoration:none; }
a:hover, a:active { color:#666;border-color:#666; }
.parler a:hover, .parler a:active { color:#ff2184;border-color:#ff2184; }
.osint a:hover, .osint a:active { color:#24d3ff;border-color:#24d3ff; }

body.home { background:#000;color:#fff; }
.home .name { font-weight:700;font-size:5.2rem;margin-bottom:20px; }
.home h1, .home h2, .home h3 { color:#fff; }
.home .name, .home h1 { text-align:center; }
.home a { color:#fff;border-bottom:2px dotted #fff; }
.home a:hover, .home a:active { color:#655afc;border-color:#655afc; }
.home .box {
  width:40%;
  height:100vh;
  margin:0 auto;
  display:flex;
  flex-flow:column;
  justify-content:center;
}
.home .box > div:not(.name) { margin-top:20px; }
.home h1 { margin-bottom:0; }
.home h3 { margin:20px 0 10px; }
.home h3.boys a:hover { color:#eeff63;border-bottom:2px dotted #eeff63; }
.home h3.parler a:hover { color:#ff2184;border-bottom:2px dotted #ff2184; }
.home h3.osint a:hover { color:#24d3ff;border-bottom:2px dotted #24d3ff; }
.home .social { display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;align-content:center;height:80px;margin:40px 0 0; }
.home .social  a { display:block;padding:0 20px;border:0; }
.home .social  a svg { height:28px;fill:#fff; }
.home .social  a:hover svg, .social  a:active svg { fill:#655afc;transition:all .2s ease-in; }

.wrapper { display:grid;min-height:100vh; }

header { background:#000;width:100vw; }
header ul {
  list-style-type:none;
  margin:0 auto;
  padding:0;
  display:flex;
  white-space:nowrap;
  align-items:center;
}
header ul li:first-of-type { font-size:1.6rem;color:#fff; }
header ul li:not(:first-of-type) { text-align:right;padding-left:1rem; }

.name span:nth-child(5n+1), header ul li:first-of-type a span:nth-child(5n+1) { color:#12ff00; }
.name span:nth-child(5n+2), header ul li:first-of-type a span:nth-child(5n+2) { color:#ff2184; }
.name span:nth-child(5n+3), header ul li:first-of-type a span:nth-child(5n+3) { color:#eeff63; }
.name span:nth-child(5n+4), header ul li:first-of-type a span:nth-child(5n+4) { color:#24d3ff; }
.name span:nth-child(5n+5), header ul li:first-of-type a span:nth-child(5n+5) { color:#7449ff; }

@keyframes color1 {
  0% { color:#ff2184; }
  20% { color:#eeff63; }
  40% { color:#24d3ff; }
  60% { color:#7449ff; }
  100% { color:#12ff00; }
}
@keyframes color2 {
  0% { color:#eeff63; }
  20% { color:#24d3ff; }
  40% { color:#7449ff; }
  60% { color:#12ff00; }
  100% { color:#ff2184; }
}
@keyframes color3 {
  0% { color:#24d3ff; }
  20% { color:#7449ff; }
  40% { color:#12ff00; }
  60% { color:#ff2184; }
  100% { color:#eeff63; }
}
@keyframes color4 {
  0% { color:#7449ff; }
  20% { color:#12ff00; }
  40% { color:#ff2184; }
  60% { color:#eeff63; }
  100% { color:#24d3ff; }
}
@keyframes color5 {
  0% { color:#12ff00; }
  20% { color:#ff2184; }
  40% { color:#eeff63; }
  60% { color:#24d3ff; }
  100% { color:#7449ff; }
}

.name span:nth-child(5n+1), header ul li:first-of-type a:hover span:nth-child(5n+1) { animation: color1 .4s infinite; }
.name span:nth-child(5n+2), header ul li:first-of-type a:hover span:nth-child(5n+2) { animation: color2 .4s infinite; }
.name span:nth-child(5n+3), header ul li:first-of-type a:hover span:nth-child(5n+3) { animation: color3 .4s infinite; }
.name span:nth-child(5n+4), header ul li:first-of-type a:hover span:nth-child(5n+4) { animation: color4 .4s infinite; }
.name span:nth-child(5n+5), header ul li:first-of-type a:hover span:nth-child(5n+5) { animation: color5 .4s infinite; }

header ul li:first-of-type a { border:0;font-weight:600; }
header ul li:first-of-type a:hover { border:0; }
header ul li:first-of-type a span { transition:all .4s ease-in; }

footer { background:#000;width:100vw; }
footer > div { width:70%;margin:0 auto;display:flex;align-items:center;justify-content:center;height:100%; }
footer a { display:inline-block;margin:0 10px;border:0; }
footer a svg { height:28px;fill:#fff;transition:all .2s ease-in; }
.capitol footer a:hover svg, .capitol footer a:active svg { fill:#fcff1f; }
.parler footer a:hover svg, .parler footer a:active svg { fill:#ff2184; }
.osint footer a:hover svg, .osint footer a:active svg { fill:#24d3ff; }

.spotlight { background:url('../capitol/assets/images/bg-iso-crop.png') no-repeat center right/cover;height:400px;width:100vw; }

.container { margin:0 auto;position:relative; }
h1 { text-align:center;margin:0 0 40px 0; }
.container > h3 { padding:40px;text-align:center;background:#fff; }
.container > span { display:block;font-size:1.2rem;text-align:center;margin-bottom:40px; }

.log { background:#fff;padding:60px;display:grid;grid-template-columns:160px auto;grid-gap:2rem; }
.archive { background:#fff; }
.archive h4 { margin-bottom:10px; }
.time { background:#f0f0f0;display:flex;align-items:center;justify-content:center; }
.time h3 { margin:0; }
.info { background:#f8f8f8;padding:20px; }

.log .boys { display:inline-flex;flex-wrap:wrap; }
.log .boys span {
  display:inline-block;
  position:relative;
  border-radius:10px;
  margin:10px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:14px;
  color:#fff;
  font-size:13px;
  font-weight:600;
}
.boys span::before {
  content:'';
  position:absolute;
  background-size:contain;
  background-repeat:no-repeat;
  top:-10px;
  left:-10px;
  width:52px;
  height:52px;
}
.archive:not(:last-of-type) { margin-bottom:60px; }
.archive .boys { position:relative;padding-left:46px; }
.archive .boys img { max-width:80px;max-height:90px;display:inline-block;position:absolute;top:-20px;left:-20px; }
.archive h3 { margin:0;padding:10px 20px 10px 20px;color:#fff; }

.archive .boys.arrested::after {
  content:'arrested';
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top:-50px;
  right:0;
  height:100%;
  width:100%;
  color:#f32845;
  font-size:1.2rem;
  font-weight:700;
}

.boys-nav a.biggs::before { background-image:url('../capitol/assets/images/boys/biggs.png'); }
.boys-nav a.righthand::before { background-image:url('../capitol/assets/images/boys/righthand.png'); }
.boys-nav a.rufio::before { background-image:url('../capitol/assets/images/boys/rufio.png'); }
.boys-nav a.pezzola::before { background-image:url('../capitol/assets/images/boys/pezzola.png'); }
.boys-nav a.milkshake::before { background-image:url('../capitol/assets/images/boys/milkshake.png'); }
.boys-nav a.bipolar::before { background-image:url('../capitol/assets/images/boys/bipolar.png'); }
.boys-nav a.sgtpepper::before { background-image:url('../capitol/assets/images/boys/sgtpepper.png'); }
.boys-nav a.kindakyle::before { background-image:url('../capitol/assets/images/boys/kindakyle.png'); }
.boys-nav a.strawhat::before { background-image:url('../capitol/assets/images/boys/strawhat.png'); }
.boys-nav a.weeirish::before { background-image:url('../capitol/assets/images/boys/weeirish.png'); }
.boys-nav a.squirrel::before { background-image:url('../capitol/assets/images/boys/squirrel.png'); }
.boys-nav a.rev::before { background-image:url('../capitol/assets/images/boys/rev.png'); }
.boys-nav a.mamasboy::before { background-image:url('../capitol/assets/images/boys/mamasboy.png'); }
.boys-nav a.dread::before { background-image:url('../capitol/assets/images/boys/dread.png'); }
.boys-nav a.smiles::before { background-image:url('../capitol/assets/images/boys/smiles.png'); }
.boys-nav a.idaho::before { background-image:url('../capitol/assets/images/boys/idaho.png'); }
.boys-nav a.twins::before { background-image:url('../capitol/assets/images/boys/twins.png'); }
.boys-nav a.grayua::before { background-image:url('../capitol/assets/images/boys/grayua.png'); }
.boys-nav a.flanders::before { background-image:url('../capitol/assets/images/boys/flanders.png'); }
.boys-nav a.dog::before { background-image:url('../capitol/assets/images/boys/dog.png'); }
.boys-nav a.dbf::before { background-image:url('../capitol/assets/images/boys/dbf.png'); }
.boys-nav a.horseshoe::before { background-image:url('../capitol/assets/images/boys/horseshoe.png'); }
.boys-nav a.skeletor::before { background-image:url('../capitol/assets/images/boys/skeletor.png'); }
.boys-nav a.tekk::before { background-image:url('../capitol/assets/images/boys/tekk.png'); }
.boys-nav a.graymo::before { background-image:url('../capitol/assets/images/boys/graymo.png'); }
.boys-nav a.tread::before { background-image:url('../capitol/assets/images/boys/tread.png'); }
.boys-nav a.goldgramps::before { background-image:url('../capitol/assets/images/boys/goldgramps.png'); }
.boys-nav a.joker::before { background-image:url('../capitol/assets/images/boys/joker.png'); }
.boys-nav a.bunyan::before { background-image:url('../capitol/assets/images/boys/bunyan.png'); }
.boys-nav a.mcgavin::before { background-image:url('../capitol/assets/images/boys/mcgavin.png'); }
.boys-nav a.goggles::before { background-image:url('../capitol/assets/images/boys/goggles.png'); }
.boys-nav a.templeowl::before { background-image:url('../capitol/assets/images/boys/templeowl.png'); }
.boys-nav a.giant::before { background-image:url('../capitol/assets/images/boys/giant.png'); }
.boys-nav a.butterfingers::before { background-image:url('../capitol/assets/images/boys/butterfingers.png'); }
.boys-nav a.chinstrap::before { background-image:url('../capitol/assets/images/boys/chinstrap.png'); }
.boys-nav a.pesci::before { background-image:url('../capitol/assets/images/boys/pesci.png'); }
.boys-nav a.redflannel::before { background-image:url('../capitol/assets/images/boys/redflannel.png'); }
.boys-nav a.redanon::before { background-image:url('../capitol/assets/images/boys/redanon.png'); }
.boys-nav a.bigblue::before { background-image:url('../capitol/assets/images/boys/bigblue.png'); }
.boys-nav a.zztop::before { background-image:url('../capitol/assets/images/boys/zztop.png'); }
.boys-nav a.thesuit::before { background-image:url('../capitol/assets/images/boys/thesuit.png'); }
.boys-nav a.maroon::before { background-image:url('../capitol/assets/images/boys/maroon.png'); }
.boys-nav a.southwest::before { background-image:url('../capitol/assets/images/boys/southwest.png'); }
.boys-nav a.warpaint::before { background-image:url('../capitol/assets/images/boys/warpaint.png'); }
.boys-nav a.rwds::before { background-image:url('../capitol/assets/images/boys/rwds.png'); }
.boys-nav a.mohawk::before { background-image:url('../capitol/assets/images/boys/mohawk.png'); }
.boys-nav a.chip::before { background-image:url('../capitol/assets/images/boys/chip.png'); }
.boys-nav a.prettyboy::before { background-image:url('../capitol/assets/images/boys/prettyboy.png'); }
.boys-nav a.tiny::before { background-image:url('../capitol/assets/images/boys/tiny.png'); }
.boys-nav a.magpul::before { background-image:url('../capitol/assets/images/boys/magpul.png'); }
.boys-nav a.badge::before { background-image:url('../capitol/assets/images/boys/badge.png'); }
.boys-nav a.usa::before { background-image:url('../capitol/assets/images/boys/usa.png'); }
.boys-nav a.viper::before { background-image:url('../capitol/assets/images/boys/viper.png'); }
.boys-nav a.ets::before { background-image:url('../capitol/assets/images/boys/ets.png'); }
.boys-nav a.pbstrutter::before { background-image:url('../capitol/assets/images/boys/pbstrutter.png'); }
.boys-nav a.cophater::before { background-image:url('../capitol/assets/images/boys/cophater.png'); }
.boys-nav a.rayban::before { background-image:url('../capitol/assets/images/boys/rayban.png'); }
.boys-nav a.pierre::before { background-image:url('../capitol/assets/images/boys/pierre.png'); }
.boys-nav a.buffalo::before { background-image:url('../capitol/assets/images/boys/buffalo.png'); }
.boys-nav a.biohazard::before { background-image:url('../capitol/assets/images/boys/biohazard.png'); }
.boys-nav a.blackeye::before { background-image:url('../capitol/assets/images/boys/blackeye.png'); }
.boys-nav a.turtle::before { background-image:url('../capitol/assets/images/boys/turtle.png'); }
.boys-nav a.snapon::before { background-image:url('../capitol/assets/images/boys/snapon.png'); }
.boys-nav a.gtg::before { background-image:url('../capitol/assets/images/boys/gtg.png'); }
.boys-nav a.tracksuit::before { background-image:url('../capitol/assets/images/boys/tracksuit.png'); }

.boys-nav { position:sticky;left:0;top:0;z-index:2;height:80px; }
.boys-nav ul { list-style:none;margin:0;padding:0;width:100%;height:80px;overflow-x:scroll;white-space:nowrap;font-size:0;background:#fcff1f; }
.boys-nav ul li { display:inline-block;padding:0;margin:0;width:40px;position:relative;background:#000;height:60px; }
.boys-nav ul li:hover { background:#fcff1f; }
.boys-nav ul li a { display:block;border:0;font-size:.7rem;font-weight:600;width:40px;height:60px;text-align:center;color:#000; }
.boys-nav ul li a::before {
  content:'';
  height:60px;
  background-size:80%;
  background-repeat:no-repeat;
  background-position:center center;
  display:block;
}
.boys-nav span { visibility:hidden;position:absolute;top:62px;text-align:center;width:auto;z-index:10;width:120px;margin-left:-60px; }
.boys-nav li:first-of-type span { text-align:left;margin-left:-10px; }
.boys-nav li:last-of-type span { text-align:right;right:0; }
.boys-nav li:hover span { visibility:visible; }

.jump { height:60px; }

.wrapper .boys { background:#000;text-transform:lowercase; }

.proudboy::before {
  content:'PB';
  position:absolute;
  top:10px;
  right:15px;
  width:30px;
  height:30px;
  border-radius:50%;
  color:#000;
  background:#ffe00e;
  font-weight:700;
  font-size:.9rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.orangetape::before {
  content:'';
  position:absolute;
  top:15px;
  right:15px;
  width:50px;
  height:20px;
  background:#ff4e08;
}
.woodland { background:#6c7f35; }

.screenshots { padding:0 0 20px 0; }
.log .screenshots img { height:130px; }

.source { font-size:.9rem;border-top:3px solid #fff;padding-top:10px; }
.source svg { height:20px;vertical-align:bottom;margin-right:6px; }
.source a { display:inline-block;margin-top:10px; }
.source .spacer { display:inline-block;width:6px;height:20px;margin:0 10px -6px 10px;background:#d0d0d0; }

.copyright { font-size:.8rem;padding:40px 0 0;text-align:center; }

.floorplans { background:#fff;}
.floorplans > div a:first-of-type { display:block;border:4px solid #000;margin-bottom:6px;transition:all .2s ease-in; }
.floorplans > div a:first-of-type:hover { border-color:#333; }
.floorplans > div a img { width:calc(100% - 8px); }
.commons { padding:20px 0 0;text-align:center;font-size:.875rem;margin:0 auto; }
.commons img { height:60px;margin:0 0 10px 0; }

.color-list {
  display:flex;
  flex-flow:row nowrap;
}
.color-list a { height:60px;width:calc(100% / 9);border:0;cursor:pointer; }
.color-list .red { background:#e00f0f; }
.color-list .orange { background:#ee6a1b; }
.color-list .yellow { background:#eec91b; }
.color-list .green { background:#038b30; }
.color-list .blue { background:#064ee7; }
.color-list .purple { background:#700edf; }
.color-list .pink { background:#b0217c; }
.color-list .brown { background:#926437; }
.color-list .white { background:#ffffff; }
.color-list a span { opacity:0;transition:all .2s ease-in;height:60px;display:flex;align-items:center;justify-content:center;font-size:1.2rem;font-weight:400; }

.posts-list > div:not(.intro) { margin-bottom:20px; }
.posts-list > div:not(.expand) a { font-size:1.4rem;font-weight:700; }
.posts-list > div.expand { position:relative;margin:20px 0; }
.posts-list div > div:not(:last-of-type) { margin-bottom:40px; }
.posts-list div >  div:not(.note) {
  border:4px solid #000;
  border-radius:8px;
  background:#fff;
}
.posts-list div span {
  font-size:1.1rem;
  background:#000;
  padding:14px;
  display:block;
  color:#fff;
}
.posts-list small { color:#999; }
.posts-list div p { padding:14px;margin:0; }
.posts-list > div.expand div, .posts-list > div.expand .close { display:none; }
.posts-list div.expand:target div, .posts-list > div.expand div:target { display:block; }

.posts-list > div.expand:target > .close, .posts-list > div.expand div:target > .close {
  display:block;
  position:absolute;
  top:-54px;
  right:4px;
  font-weight:700;
  font-size:1.6rem;
  border:0;
  color:#c0c0c0;
  transform:scaleX(1.2);
}
.posts-list > div.expand:target > .close:hover, .posts-list > div.expand div:target > .close:hover { color:#000; }
.posts-list > div > div > span { position:relative;font-weight:500;min-height:22px; }
.posts-list > div > div > span a { position:absolute;right:14px;top:14px;color:#fff;font-size:.9rem;letter-spacing:1px; }
.note { background:#f0f0f0;margin:14px;border-radius:8px;padding:14px;font-style:italic; }
.intro { margin:-30px 0 60px 0;font-size:1.2rem;text-align:center; }

.osint .dbaj { width:60%;margin:0 auto;margin-top:60px; }
.article-list > div { font-size:1.2rem;margin-bottom:20px; }
.osint .intro, .osint h1 { text-align:left; }
.osint h1 { margin-bottom:20px; }
article { background:#fff;padding:80px;font-size:1.2rem;line-height:1.6; }
article h1 { font-size:2.2rem;font-weight:500;text-align:left;margin-bottom:10px;line-height:1.2; }
blockquote { background:#f0f0f0;padding:30px;border-radius:10px;font-size:1rem;margin:30px; }
article ul  { margin:20px 40px 40px;padding:0;font-size:1rem; }
article ul li:not(:last-of-type) { margin-bottom:10px; }
article img { width:100%; }
article h3 { font-weight:500;margin-top:40px;margin-bottom:10px; }
article img.med { width:70%;margin:30px auto; }
.center { text-align:center; }
label { font-size:.9rem; }
article small em { color:#888; }

table { width:100%;font-size:1rem;overflow-x:scroll;margin-bottom:60px; }
table th { background:#000;color:#fff; }
table td { padding:6px 16px; }
table tr:nth-child(even) { background:#f0f0f0; }

.top {
  position:fixed;
  bottom:10px;
  right:10px;
  background:#000;
  border-radius:50%;
  width:40px;
  height:34px;
  padding-top:4px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-weight:700;
  font-size:1.2rem;
  cursor:pointer;
  border:0;
}
.top:hover { color:#fff;border:0; }
.capitol .top:hover { background:#fcff1f;color:#000; }
.parler .top:hover { background:#fcff1f; }
.osint .top:hover { background:#fcff1f; }


/* media queries */
@media only screen and (max-width:475px) {
  .home .box { width:90%;margin:0 auto; }
  .home .name { font-weight:700;font-size:2.4rem;margin-bottom:40px; }
  .home h1 { font-size:2rem;margin-bottom:20px; }
  .home h3 { font-size:1.2rem; }
  .wrapper { grid-template-rows:160px auto 80px; }
  header ul {
    list-style-type:none;
    width:90%;
    padding:10px 0 20px;
    flex-flow:row wrap;
    justify-content:center;
  }
  header ul li:first-of-type { width:100%;text-align:center; }
  header ul li:not(:first-of-type) { padding-top:1rem; }
}
@media only screen and (min-width:476px) and (max-width:1199px) {
  .wrapper { grid-template-rows:80px auto 80px; }
  header { height:80px; }
  header ul {
    list-style-type:none;
    width:90%;
    height:80px;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  header ul li:first-of-type { width:80%; }
}
@media only screen and (max-width:1199px) {
  .container { width:90%;padding:60px 0; }
  .floorplans { padding:60px 0; }
  .floorplans > div:not(.commons) { width:60%;margin:0 auto 40px;display:grid;grid-template-columns:1fr;grid-gap:40px;text-align:center; }
  .commons { width:60%; }
  .archive { padding:40px; }
}
@media only screen and (min-width:1200px) {
  .wrapper { grid-template-rows:80px auto 80px; }
  header { height:80px; }
  header ul {
    list-style-type:none;
    height:80px;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  header ul li:first-of-type { width:80%; }
  .floorplans { padding:100px 0; }
  .floorplans > div:not(.commons) { width:70%;margin:0 auto 60px;display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:40px;text-align:center; }
  .commons { width:28%; }
  .color-list a:hover span { opacity:1; }
  .color-list a:not(.white) span { color:#fff; }
  .color-list a.white span { color:#d0d0d0; }
  .archive { padding:60px; }
}
@media only screen and (max-width:760px) {
  .container { width:calc(100vw - 40px);padding:60px 20px; }
  header ul { width:calc(100vw - 40px); }
  .archive .screenshots img { max-width:48  %;max-height:94px;overflow:hidden; }
  .archive h3 { font-size:1.2rem; }
}
@media only screen and (min-width:759px) and (max-width:959px) {
  .container { width:700px;padding:60px 0; }
  header ul { width:700px; }
  .archive .screenshots img { max-width:calc(580px / 3);height:126px;overflow:hidden; }
}
@media only screen and (min-width:960px) and (max-width:1199px) {
  .container { width:900px;padding:100px 0; }
  header ul { width:900px; }
  .archive .screenshots img { max-width:calc(740px / 4);height:120px;overflow:hidden; }
}
@media only screen and (min-width:1200px) and (max-width:1599px) {
  .container { width:1100px;padding:100px 0; }
  header ul { width:1100px; }
  .archive .screenshots img { max-width:calc(920px / 5);height:126px;overflow:hidden; }
}
@media only screen and (min-width:1600px) {
  .container { width:1400px;padding:100px 0; }
  header ul { width:1400px; }
  .archive .screenshots img { max-width:calc(1240px / 5);max-height:162px;overflow:hidden; }
}
