html { scroll-behavior: smooth; }
body {
  margin:0;
  width:100vw;
  min-height:100vh;
  box-sizing:border-box;
  font:18px 'Khand', sans-serif;
  letter-spacing:1px;
  color:#aeaebd;
  background:#09090b;
}

h1 { font-size:3rem;font-weight:300;color:#fff; }
h2 { font-size:2rem;font-weight:500;color:#000; }
h3 { font-size:1.6rem;font-weight:600;color:#000; }
h4 { font-size:1.4rem;font-weight:600;color:#000; }

a { font-weight:500;color:#fff;text-decoration:none;transition:all .2s ease-in; }
header a { color:#fff;text-decoration:none; }
a:hover, a:active { color:#ff2f00; }

body.home { background:#000;color:#fff;background:#09090b url(bg.jpg) no-repeat center center;background-size:cover; }
.home .name { font-weight:700;font-size:5.2rem;margin-bottom:20px; }
.home h1, .home h2, .home h3 { color:#fff; }
.home .name, .home h1 { text-align:center; }
.home a:not(:hover):not(:active) { color:#fff; }
.home .box > div:not(.name) { margin-top:20px; }
.home h1 { margin-bottom:0; }
.home h3 { margin:20px 0 10px; }
.home .social { display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;align-content:center;height:80px;margin:40px 0 0; }
.home .social  a { display:block;padding:0 20px;border:0; }
.home .social  a svg { height:28px;fill:#fff; }
.home .social  a:hover svg, .social  a:active svg { fill:#ff2f00;transition:all .2s ease-in; }

.wrapper { display:grid;min-height:100vh; }

header { background:#000;width:100vw; }
header ul {
  list-style-type:none;
  margin:0 auto;
  padding:0;
  display:flex;
  white-space:nowrap;
  align-items:center;
  letter-spacing:1.4;
}
header ul li:first-of-type { font-size:1.8rem;font-weight:300; }
header ul li:not(:first-of-type) { color:#2afffe;text-align:right;padding-left:1rem; }

footer { background:#000;width:100vw; }
footer > div { width:70%;margin:0 auto;display:flex;align-items:center;justify-content:center;height:100%; }
footer a { display:inline-block;margin:0 10px;border:0; }
footer a svg { height:28px;fill:#fff;transition:all .2s ease-in; }
footer a:hover svg, .capitol footer a:active svg { fill:#ff2f00; }

.capitol .wrapper > div { background:#f0f0f0;color:#000; }
.capitol .wrapper > div h1, .capitol .wrapper > div h4, .capitol .wrapper > div a:not(:hover) { color:#000; }
.capitol .wrapper > div h1 { margin-top:-10px; }

.spotlight { background:url('../capitol/assets/images/bg-iso-crop.png') no-repeat center right/cover;height:400px;width:100vw; }

.container { margin:0 auto;position:relative; }
h1 { text-align:center;margin:0 0 20px 0; }
.container h1 + h4 { text-align:center;margin-top:-30px; }
.container > h3 { padding:40px;text-align:center;background:#fff; }
.container > span { display:block;font-size:1.2rem;text-align:center;margin-bottom:40px; }

.log { background:#fff;padding:60px;display:grid;grid-template-columns:160px auto;grid-gap:2rem; }
.archive { background:#fff;padding:30px; }
.time { background:#f0f0f0;display:flex;align-items:center;justify-content:center; }
.time h3 { margin:0; }

.log .boys { display:inline-flex;flex-wrap:wrap; }
.log .boys span {
  display:inline-block;
  position:relative;
  border-radius:10px;
  margin:10px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:14px;
  color:#fff;
  font-size:13px;
  font-weight:600;
}
.boys span::before {
  content:'';
  position:absolute;
  background-size:contain;
  background-repeat:no-repeat;
  top:-10px;
  left:-10px;
  width:52px;
  height:52px;
}
.archive:not(:last-of-type) { margin-bottom:60px; }
.boys { text-align:center;position:relative;height:130px; }
.boys img { height:100%; }
.archive h3 { margin:0;padding:10px 20px 10px 20px;color:#fff; }

.archive .boys.arrested::after {
  content:'arrested';
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top:-50px;
  right:0;
  height:100%;
  width:100%;
  color:#f32845;
  font-size:1.2rem;
  font-weight:700;
}

.boys-nav a.biggs::before { background-image:url('../capitol/assets/images/boys/biggs.png'); }
.boys-nav a.righthand::before { background-image:url('../capitol/assets/images/boys/righthand.png'); }
.boys-nav a.rufio::before { background-image:url('../capitol/assets/images/boys/rufio.png'); }
.boys-nav a.pezzola::before { background-image:url('../capitol/assets/images/boys/pezzola.png'); }
.boys-nav a.milkshake::before { background-image:url('../capitol/assets/images/boys/milkshake.png'); }
.boys-nav a.bipolar::before { background-image:url('../capitol/assets/images/boys/bipolar.png'); }
.boys-nav a.sgtpepper::before { background-image:url('../capitol/assets/images/boys/sgtpepper.png'); }
.boys-nav a.kindakyle::before { background-image:url('../capitol/assets/images/boys/kindakyle.png'); }
.boys-nav a.strawhat::before { background-image:url('../capitol/assets/images/boys/strawhat.png'); }
.boys-nav a.weeirish::before { background-image:url('../capitol/assets/images/boys/weeirish.png'); }
.boys-nav a.squirrel::before { background-image:url('../capitol/assets/images/boys/squirrel.png'); }
.boys-nav a.rev::before { background-image:url('../capitol/assets/images/boys/rev.png'); }
.boys-nav a.mamasboy::before { background-image:url('../capitol/assets/images/boys/mamasboy.png'); }
.boys-nav a.dread::before { background-image:url('../capitol/assets/images/boys/dread.png'); }
.boys-nav a.smiles::before { background-image:url('../capitol/assets/images/boys/smiles.png'); }
.boys-nav a.idaho::before { background-image:url('../capitol/assets/images/boys/idaho.png'); }
.boys-nav a.twins::before { background-image:url('../capitol/assets/images/boys/twins.png'); }
.boys-nav a.grayua::before { background-image:url('../capitol/assets/images/boys/grayua.png'); }
.boys-nav a.flanders::before { background-image:url('../capitol/assets/images/boys/flanders.png'); }
.boys-nav a.dog::before { background-image:url('../capitol/assets/images/boys/dog.png'); }
.boys-nav a.dbf::before { background-image:url('../capitol/assets/images/boys/dbf.png'); }
.boys-nav a.horseshoe::before { background-image:url('../capitol/assets/images/boys/horseshoe.png'); }
.boys-nav a.skeletor::before { background-image:url('../capitol/assets/images/boys/skeletor.png'); }
.boys-nav a.tekk::before { background-image:url('../capitol/assets/images/boys/tekk.png'); }
.boys-nav a.graymo::before { background-image:url('../capitol/assets/images/boys/graymo.png'); }
.boys-nav a.tread::before { background-image:url('../capitol/assets/images/boys/tread.png'); }
.boys-nav a.goldgramps::before { background-image:url('../capitol/assets/images/boys/goldgramps.png'); }
.boys-nav a.joker::before { background-image:url('../capitol/assets/images/boys/joker.png'); }
.boys-nav a.bunyan::before { background-image:url('../capitol/assets/images/boys/bunyan.png'); }
.boys-nav a.mcgavin::before { background-image:url('../capitol/assets/images/boys/mcgavin.png'); }
.boys-nav a.goggles::before { background-image:url('../capitol/assets/images/boys/goggles.png'); }
.boys-nav a.templeowl::before { background-image:url('../capitol/assets/images/boys/templeowl.png'); }
.boys-nav a.giant::before { background-image:url('../capitol/assets/images/boys/giant.png'); }
.boys-nav a.butterfingers::before { background-image:url('../capitol/assets/images/boys/butterfingers.png'); }
.boys-nav a.chinstrap::before { background-image:url('../capitol/assets/images/boys/chinstrap.png'); }
.boys-nav a.pesci::before { background-image:url('../capitol/assets/images/boys/pesci.png'); }
.boys-nav a.redflannel::before { background-image:url('../capitol/assets/images/boys/redflannel.png'); }
.boys-nav a.redanon::before { background-image:url('../capitol/assets/images/boys/redanon.png'); }
.boys-nav a.bigblue::before { background-image:url('../capitol/assets/images/boys/bigblue.png'); }
.boys-nav a.zztop::before { background-image:url('../capitol/assets/images/boys/zztop.png'); }
.boys-nav a.thesuit::before { background-image:url('../capitol/assets/images/boys/thesuit.png'); }
.boys-nav a.maroon::before { background-image:url('../capitol/assets/images/boys/maroon.png'); }
.boys-nav a.southwest::before { background-image:url('../capitol/assets/images/boys/southwest.png'); }
.boys-nav a.warpaint::before { background-image:url('../capitol/assets/images/boys/warpaint.png'); }
.boys-nav a.rwds::before { background-image:url('../capitol/assets/images/boys/rwds.png'); }
.boys-nav a.mohawk::before { background-image:url('../capitol/assets/images/boys/mohawk.png'); }
.boys-nav a.chip::before { background-image:url('../capitol/assets/images/boys/chip.png'); }
.boys-nav a.prettyboy::before { background-image:url('../capitol/assets/images/boys/prettyboy.png'); }
.boys-nav a.tiny::before { background-image:url('../capitol/assets/images/boys/tiny.png'); }
.boys-nav a.magpul::before { background-image:url('../capitol/assets/images/boys/magpul.png'); }
.boys-nav a.badge::before { background-image:url('../capitol/assets/images/boys/badge.png'); }
.boys-nav a.usa::before { background-image:url('../capitol/assets/images/boys/usa.png'); }
.boys-nav a.viper::before { background-image:url('../capitol/assets/images/boys/viper.png'); }
.boys-nav a.ets::before { background-image:url('../capitol/assets/images/boys/ets.png'); }
.boys-nav a.pbstrutter::before { background-image:url('../capitol/assets/images/boys/pbstrutter.png'); }
.boys-nav a.cophater::before { background-image:url('../capitol/assets/images/boys/cophater.png'); }
.boys-nav a.rayban::before { background-image:url('../capitol/assets/images/boys/rayban.png'); }
.boys-nav a.pierre::before { background-image:url('../capitol/assets/images/boys/pierre.png'); }
.boys-nav a.buffalo::before { background-image:url('../capitol/assets/images/boys/buffalo.png'); }
.boys-nav a.biohazard::before { background-image:url('../capitol/assets/images/boys/biohazard.png'); }
.boys-nav a.blackeye::before { background-image:url('../capitol/assets/images/boys/blackeye.png'); }
.boys-nav a.turtle::before { background-image:url('../capitol/assets/images/boys/turtle.png'); }
.boys-nav a.snapon::before { background-image:url('../capitol/assets/images/boys/snapon.png'); }
.boys-nav a.gtg::before { background-image:url('../capitol/assets/images/boys/gtg.png'); }
.boys-nav a.tracksuit::before { background-image:url('../capitol/assets/images/boys/tracksuit.png'); }
.boys-nav a.pickles::before { background-image:url('../capitol/assets/images/boys/pickles.png'); }
.boys-nav a.floridahat::before { background-image:url('../capitol/assets/images/boys/floridahat.png'); }
.boys-nav a.flagbeanie::before { background-image:url('../capitol/assets/images/boys/flagbeanie.png'); }
.boys-nav a.curlybeard::before { background-image:url('../capitol/assets/images/boys/curlybeard.png'); }
.boys-nav a.yellowscarf::before { background-image:url('../capitol/assets/images/boys/yellowscarf.png'); }
.boys-nav a.greenghoul::before { background-image:url('../capitol/assets/images/boys/greenghoul.png'); }

.boys-nav ul { list-style:none;margin:0;padding:0;width:100%;display:grid;grid-template-columns:repeat(auto-fill, minmax(140px, 1fr));grid-gap:10px; }
.boys-nav ul li { position:relative;height:160px;}
.boys-nav ul li a { display:block;border:0;font-size:.9rem;font-weight:400;height:130px;padding:10px 0;text-align:center; }
.boys-nav ul li a:hover { background:#000;font-weight:600; }
.boys-nav ul li a::before {
  content:'';
  height:110px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  display:block;
  filter:grayscale(0);
}
.boys-nav ul li a:hover::before { filter: grayscale(1); }
.boys-nav span { text-align:center;width:auto; }
.boys { text-transform:lowercase; }

.jump { height:60px; }

.proudboy::before {
  content:'PB';
  position:absolute;
  top:10px;
  right:15px;
  width:30px;
  height:30px;
  border-radius:50%;
  color:#000;
  background:#ffe00e;
  font-weight:700;
  font-size:.9rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.orangetape::before {
  content:'';
  position:absolute;
  top:15px;
  right:15px;
  width:50px;
  height:20px;
  background:#ff4e08;
}
.woodland { background:#6c7f35; }

.identified { background:#000;padding:10px;width:80%;margin:0 auto 40px; }
.identified img { display:block;width:100%;margin:0 auto; }
.identified a { display:block;margin-top:10px;background:#fff;padding:10px;text-align:center; }
.identified svg { width:24px;vertical-align:top;margin-right:4px;transition:all .2s ease-in; }
.identified a:hover svg { fill:#00acee; }

h4.thread span { color:#ccc; }
h4.thread a:hover,
h1.thread a:hover { color:#00acee; }

.log .screenshots img { height:130px; }
.archive .screenshots { display:grid; }
.archive .screenshots h4 { margin-bottom:0; }
.archive .screenshots > div { overflow:hidden;text-align:center;background:#0b0b0b; }
.archive .screenshots img { height:100%; }
.screenshots .spacer { display:inline-block;width:6px;height:128px;background:#d0d0d0; }

.source { font-size:.9rem;padding:40px 0 0; }
.source svg { height:20px;vertical-align:top;margin-right:6px; }
.source a { display:inline-block; }
.source .spacer { display:inline-block;width:6px;height:20px;margin:0 10px -6px 10px;background:#d0d0d0; }


.copyright { font-size:.8rem;padding:40px 0 0;text-align:center; }

.floorplans { background:#fff;color:#000; }
.floorplans h1 { color:#000; }
.floorplans > div a:first-of-type { display:block;border:3px solid #000;margin-bottom:6px;transition:all .2s ease-in; }
.floorplans > div a:first-of-type:hover { border-color:#ff2f00; }
.floorplans > div a:not(:hover):not(:active) { color:#000; }
.floorplans > div a img { width:calc(100% - 8px); }
.commons { padding:20px 0 0;text-align:center;font-size:.875rem;margin:0 auto; }
.commons img { height:60px;margin:0 0 10px 0; }

.color-list {
  display:flex;
  flex-flow:row nowrap;
}
.color-list a { height:60px;width:calc(100% / 9);border:0;cursor:pointer; }
.color-list .red { background:#e00f0f; }
.color-list .orange { background:#ee6a1b; }
.color-list .yellow { background:#eec91b; }
.color-list .green { background:#038b30; }
.color-list .blue { background:#064ee7; }
.color-list .purple { background:#700edf; }
.color-list .pink { background:#b0217c; }
.color-list .brown { background:#926437; }
.color-list .white { background:#ffffff; }
.color-list a span { opacity:0;transition:all .2s ease-in;height:60px;display:flex;align-items:center;justify-content:center;font-size:1.2rem;font-weight:400; }

.posts-list > div:not(.intro) { margin-bottom:20px; }
.posts-list > div:not(.expand) a { font-size:1.4rem; }
.posts-list > div.expand { position:relative;margin:20px 0; }
.posts-list div > div:not(:last-of-type) { margin-bottom:40px; }
.posts-list div >  div:not(.note) {
  border:4px solid #000;
  border-radius:8px;
  background:#141417;
  letter-spacing:.4px;
  color:#c0c0cf;
  font-size:1rem;
}
.posts-list div span {
  font-size:1.1rem;
  padding:14px;
  display:block;
  color:#fff;
  border-bottom:3px solid #0c0c0f;
  background:#000;
}
.posts-list div p { padding:14px;margin:0; }
.posts-list > div.expand div, .posts-list > div.expand .close { display:none; }
.posts-list div.expand:target div, .posts-list > div.expand div:target { display:block; }

.posts-list > div.expand:target > .close, .posts-list > div.expand div:target > .close {
  display:block;
  position:absolute;
  top:-54px;
  right:4px;
  font-weight:300;
  font-size:1.2rem;
  border:0;
  color:#7b7b8b;
  transform:scaleX(1.6);
}
.posts-list > div.expand:target > .close:hover, .posts-list > div.expand div:target > .close:hover { color:#fff; }
.posts-list > div > div > span { position:relative;font-weight:500;min-height:22px;letter-spacing:2px;color:#7b7b8b; }
.posts-list > div > div > span a { position:absolute;right:14px;top:14px;font-size:.9rem;letter-spacing:1px; }
.posts-list > div > div > span a:not(:hover):not(:active) { color:#fff; }
.note { background:#0c0c0f;color:#8f8f9b;margin:14px;border-radius:8px;padding:14px;font-style:italic; }
.intro { margin:-30px 0 40px 0;text-align:center; }
.posts-list div a:not(:hover):not(:active) { color:#fff; }

.osint .dbaj { width:60%;margin:0 auto;margin-top:60px; }
.article-list > div { font-size:1.2rem;margin-bottom:20px; }
.osint .intro, .osint h1 { text-align:left; }
.osint h1 { margin-bottom:20px; }
article { background:#fff;color:#000;padding:80px;font-size:1.2rem;line-height:1.6;letter-spacing:.7px; }
article a { color:#000;font-weight:600;letter-spacing:.6px; }
article h1 { font-size:2.2rem;font-weight:500;color:#000;text-align:left;margin-bottom:10px;line-height:1.2; }
blockquote { background:#f0f0f0;color:#383843;padding:30px;border-radius:10px;font-size:1rem;margin:30px; }
article ul  { margin:20px 40px 40px;padding:0;font-size:1rem; }
article ul li:not(:last-of-type) { margin-bottom:10px; }
article img { width:100%; }
article h3 { font-weight:500;margin-top:40px;margin-bottom:10px; }
article img.med { width:70%;margin:30px auto; }
.center { text-align:center; }
label { font-size:.9rem; }
article small em { color:#888; }

table { width:100%;font-size:1rem;overflow-x:scroll;margin-bottom:60px; }
table th { background:#000;color:#fff; }
table td { padding:6px 16px; }
table tr:nth-child(even) { background:#f0f0f0; }

.top {
  position:fixed;
  bottom:10px;
  right:10px;
  background:#000;
  border-radius:50%;
  width:40px;
  height:32px;
  padding-top:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-weight:300;
  font-size:1.6rem;
  cursor:pointer;
  border:0;
}
.top:hover { color:#fff;border:0; }
.top:hover { background:#ff2f00; }

/* media queries */
@media only screen and (max-width:575px) {
  body.home { background-size:250%;background-position:-170px 0; }
  .container { width:80%;padding:40px 0; }
  .archive .screenshots { grid-template-columns:1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:230px; }
  .home .box { width:90%;margin:0 auto; }
  .home .name { font-weight:700;font-size:2.4rem;margin-bottom:40px; }
  .home h1 { font-size:2rem;margin-bottom:20px; }
  .home h3 { font-size:1.2rem; }
  .wrapper { grid-template-rows:160px auto 80px; }
  header ul {
    list-style-type:none;
    width:90%;
    padding:10px 0 20px;
    flex-flow:row wrap;
    justify-content:center;
  }
  header ul li:first-of-type { width:100%;text-align:center; }
  header ul li:not(:first-of-type) { padding-top:1rem; }
}
@media only screen and (min-width:576px) and (max-width:1199px) {
  body.home { background-size:cover; }
  .wrapper { grid-template-rows:80px auto 80px; }
  header { height:80px; }
  header ul {
    list-style-type:none;
    width:90%;
    height:80px;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  header ul li:first-of-type { width:80%; }
}
@media only screen and (max-width:1199px) {
  .home .box { height:calc(100vh - 140px);text-align:center;padding:20px 0 0; }
  .home .box a { display:inline-block;margin:0 10px; }
  .social { height:80px; }
  .floorplans { padding:60px 0; }
  .floorplans > div:not(.commons) { width:60%;margin:0 auto 40px;display:grid;grid-template-columns:1fr;grid-gap:40px;text-align:center; }
  .commons { width:60%; }
  .archive { padding:40px; }
}
@media only screen and (min-width:1200px) {
  .home .box { height:calc(100vh - 140px);text-align:right;padding:20px 30px 0; }
  .home .box a { display:block;margin:10px 0; }
  .wrapper { grid-template-rows:80px auto 80px; }
  header { height:80px; }
  header ul {
    list-style-type:none;
    height:80px;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  header ul li:first-of-type { width:80%; }
  .floorplans { padding:100px 0; }
  .floorplans > div:not(.commons) { width:70%;margin:0 auto 60px;display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:40px;text-align:center; }
  .commons { width:28%; }
  .color-list a:hover span { opacity:1; }
  .color-list a:not(.white) span { color:#fff; }
  .color-list a.white span { color:#d0d0d0; }
  .archive { padding:60px; }
}
@media only screen and (min-width:576px) and (max-width:767px) {
  header, .container { width:80%;margin:0 auto; }
  .container { padding:40px 0; }
  .archive .screenshots { grid-template-columns:1fr 1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:190px; }
  .archive .screenshots h4 { grid-column:1 / span 2; }
}
@media only screen and (min-width:768px) and (max-width:959px) {
  header, .container { width:700px;margin:0 auto; }
  .container { padding:40px 0; }
  .archive .screenshots { grid-template-columns:1fr 1fr 1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:160px; }
  .archive .screenshots h4 { grid-column:1 / span 3; }
}
@media only screen and (min-width:960px) and (max-width:1199px) {
  header, .container { width:900px;margin:0 auto; }
  .container { padding:40px 0; }
  .archive .screenshots { grid-template-columns:1fr 1fr 1fr 1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:150px; }
  .archive .screenshots h4 { grid-column:1 / span 4; }
}
@media only screen and (min-width:1200px) and (max-width:1599px) {
  header, .container { width:1100px;margin:0 auto; }
  .container { padding:40px 0; }
  .archive .screenshots { grid-template-columns:1fr 1fr 1fr 1fr 1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:150px; }
  .archive .screenshots h4 { grid-column:1 / span 5; }
}
@media only screen and (min-width:1600px) {
  header, .container { width:1400px;margin:0 auto; }
  .container { padding:60px 0; }
  .archive .screenshots { grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;grid-gap:10px; }
  .archive .screenshots > div { max-height:150px; }
  .archive .screenshots h4 { grid-column:1 / span 6; }
}
